<%- include('../partials/header'); %>
<%- include('../partials/scripts'); %>
</head>

<body>
  <%- include('../partials/navbar'); %>
  <div class="main-content">
    <%- include('../partials/topbar'); %>
    <%- include('partials/header-bar'); %>
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0"><%= title %></h3>
            </div>
            <div class="card-body">
              <form method="POST" action="">
                <input type="hidden" name="id" value="<%= year._id %>">
                <h3>Obecné info</h3>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Název</span>
                        </div>
                        <input type="text" name="name" placeholder="Název ročníku" class="form-control border-1"
                          required value="<%= year.name %>">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Popisek</span>
                        </div>
                        <input type="text" name="description" placeholder="Popisek" class="form-control border-1 small"
                          value="<%= year.description %>">
                      </div>
                    </div>
                  </div>
                </div>
                <h2>Rezervace</h2>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="input-group">
                        <input type="datetime-local" name="reservationsStart" placeholder="Začátek"
                          class="form-control datepicker" required
                          value="<%= moment(year.reservations.start).format('YYYY-MM-DDTHH:mm') %>">
                        <div class="input-group-append">
                          <span class="input-group-text">Začátek</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="input-group">
                        <input type="datetime-local" name="reservationsEnd" placeholder="Konec"
                          class="form-control border-1" required
                          value="<%= moment(year.reservations.end).format('YYYY-MM-DDTHH:mm') %>">
                        <div class="input-group-append">
                          <span class="input-group-text">Konec</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <button class="btn btn-icon btn-primary" type="submit">
                      <span class="btn-inner--text">Editovat</span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <%- include('../partials/footer') %>
    </div>
  </div>
  <%- include('../partials/file-end') %>