<%- include('../partials/header', {title}); %>
<!-- Datatables styles -->
<!-- <link rel="stylesheet" href="/assets/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/assets/vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">
<link rel="stylesheet" href="/assets/vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css"> -->
<%- include('../partials/scripts'); %>
</head>

<body class="">
  <%- include('../partials/navbar', {active: 'years'}); %>
  <div class="main-content">
    <%- include('../partials/topbar', {title}) %>
    <%- include('partials/header-bar') %>
    <div class="container-fluid mt--7">
      <%
      if (req.query.status) {
        switch (req.query.status) {
        case 'new-ok':
          bg = `success`;
          text = {
            bold: 'Gratuluji!',
            normal: 'Úspěšně jste vytvořil(a) nový ročník!',
          }; 
          break;
      
        case 'edit-ok':
          bg = `success`;
          text = {
            bold: 'Gratuluji!',
            normal: 'Ročník byl úspěšně upraven!',
          }; 
          break;

        default:
          bg = `default`;
          text = {
            bold: 'Heleme se!',
            normal: ' Uživatel si hraje s URL!',
          };
          break;
      }
      %>
      <div class="alert alert-<%= bg %>" role="alert">
        <strong><%= text.bold %></strong> <%= text.normal %>
      </div>
      <% } %>
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0"><%= title %></h3>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <div>
                  <table class="table align-items-center" id="myTable">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Název</th>
                        <th scope="col">Popisek</th>
                        <th scope="col">Vytvořeno dne</th>
                        <th scope="col">Vytvořil</th>
                        <th scope="col">Akce</th>
                      </tr>
                    </thead>
                    <tbody class="list">
                      <% years.forEach((year) => { %>
                      <tr>
                        <td><%= year.name %></td>
                        <td><% switch (year.status) {
                          case 'active':
                            statusBadge = {
                              class: 'success',
                              text: 'Aktivní'
                            };
                            break;
                          
                          case 'archived':
                            statusBadge = {
                              class: 'primary',
                              text: 'Archivovaný'
                            };
                            break;

                          case 'prepared':
                            statusBadge = {
                              class: 'info',
                              text: 'Připravený'
                            };
                            break;
                        
                          default:
                            break;
                        }%>
                          <span class="badge badge-<%=statusBadge.class%> ">
                            <%= statusBadge.text %>
                          </span>
                          <% if (String(year._id) == String(req.session.year._id)) {%>
                          <span class="badge badge-success">
                            Zvolený
                          </span>
                          <% } %>
                          <%= year.description %>
                        </td>
                        <td><%= moment(year.created).format('DD. MM. YYYY HH:mm:ss') %></td>
                        <td>
                          <%= year.author == null ? 'Formulář' : `${year.author.name.first} ${year.author.name.last}`  %>
                        </td>
                        <td>
                          <div class="row" style="justify-content: space-between; /*min-width: 80px;*/">
                            <a href="/admin/years/edit?id=<%= year._id %>">
                              <i class="fas fa-pen"></i></a>
                            <button type="button"
                              onclick="changeYearStatusById('<%= year._id %>', '<%= year.status %>');"
                              style="background: none; border: none; padding: 0; ">
                              <i class="fas fa-sync-alt text-green"></i>
                            </button>
                            <button onclick="deleteYearById('<%= year._id %>');"
                              style="background: none; border: none; padding: 0; ">
                              <i class="fas fa-trash" style="color: red; "></i>
                            </button>
                          </div>
                        </td>
                      </tr>
                      <%}); %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('../partials/footer') %>
      <!-- Optional JS -->
      <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
      <!--<script src="/admin/assets/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
      <script src="/admin/assets/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
      <script src="/admin/assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
      <script src="/admin/assets/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
      <script src="/admin/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
      <script src="/admin/assets/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
      <script src="/admin/assets/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
      <script src="/admin/assets/vendor/datatables.net-select/js/dataTables.select.min.js"></script>-->

      <div class="col-md-4">
        <div class="modal fade" id="modal-change-status" tabindex="-1" role="dialog"
          aria-labelledby="modal-change-status" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-body p-0">
                <div class="card bg-secondary shadow border-0">
                  <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                      <h1>Změna stavu roku</h1>
                      <p>Vyber nový stav</p>
                    </div>
                    <form role="form" method="POST" id="modal-change-status-form">
                      <input type="hidden" name="id">
                      <div class="custom-control custom-radio mb-3">
                        <input name="yearStatus" value="archived" class="custom-control-input" id="archivedRadio"
                          type="radio">
                        <label class="custom-control-label" for="archivedRadio">Archivovaný</label>
                      </div>
                      <div class="custom-control custom-radio mb-3">
                        <input name="yearStatus" value="active" class="custom-control-input" id="activeRadio"
                          type="radio">
                        <label class="custom-control-label" for="activeRadio">Aktivní</label>
                      </div>
                      <div class="custom-control custom-radio mb-3">
                        <input name="yearStatus" value="prepared" class="custom-control-input" id="preparedRadio"
                          type="radio">
                        <label class="custom-control-label" for="preparedRadio">Připravený</label>
                      </div>
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary my-4">Změnit</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
        $(document).ready(function () {
          $('#yearsTable').DataTable();
        });

        function changeYearStatusById(id, status) {
          // Set id input for idetification on server
          $(`form#modal-change-status-form`).children('input[name=\'id\']').attr('value', id);

          // Reset statuses of radio buttons
          statuses = ['archived', 'active', 'prepared'];
          for (let i = 0; i < statuses.length; i++) {
            if (status === statuses[i]) {
              $(`input#${status}Radio`).attr('disabled', true);
              //$(`input#${status}Radio`).attr('type', 'hidden');
            } else {
              $(`input#${statuses[i]}Radio`).attr('disabled', null);
            }
          }

          // Show the modal
          $('#modal-change-status').modal();

          // Submit the Form
          $('#modal-change-status-form').submit(function (e) {
            // Avoid to execute the actual submit of the form
            e.preventDefault();
            $.ajax({
              type: "POST",
              url: '/admin/years/change-status/',
              data: $(this).serialize(), // Serializes the form's elements.
              success: function (response) {
                console.log(response); // Show response from the server
                switch (response) {
                  case 'ok':
                    swal({
                      title: 'Rezervace byla upravena!',
                      text: 'Srdečně blahopřeji.',
                      icon: 'success',
                    }).then((value) => {
                      location.reload();
                    });
                    break;

                  case 'not-sent-id':
                    swal({
                      title: 'Chyba!',
                      text: 'Neposlal jsi na server ID rezervace, u které chceš změnit stav.',
                      icon: 'success',
                    }).then((value) => {
                      location.reload();
                    });
                    break;

                  default:
                    swal({
                      title: 'Něco se pokazilo!',
                      text: `Ozvi se správci, server říká: ${response}"`,
                      icon: 'error',
                    });
                    break;
                }
              }
            });


          });
        }

        function deleteYearById(id) {
          swal({
            title: 'Opravdu chceš smazat tento ročník?',
            text: 'Radši si to dvakrát rozmysli',
            icon: 'warning',
            timer: 5000,
            dangerMode: true,
            buttons: {
              cancel: "Neee, byl to omyl",
              confirm: 'Smaž ho!',
            },
          }).then((confirm) => {
            if (confirm) {
              $.post({
                url: `/admin/years/delete/`,
                data: {
                  id,
                },
                success: function (response) {
                  console.log(response);
                  switch (response) {
                    case 'ok':
                      swal({
                        title: 'Ročník byl smazán!',
                        text: 'Už ho nikdy neuvidíme.',
                        icon: 'success',
                        timer: 5000,
                      }).then((value) => {
                        //window.location.href = '/admin/dashboard/';
                        location.reload();
                      });
                      break;

                    case 'not-sent-id':
                      swal({
                        title: 'Ročník se nesmazal!',
                        text: 'Nastala chyba, protože jsi neposlal na server ID ročníku, kterého chceš smazat.',
                        icon: 'error',
                      });
                      break;

                    default:
                      swal({
                        title: 'Něco se pokazilo!',
                        text: `Ozvi se Lukynovi, server říká: ${response}"`,
                        icon: 'error',
                      });
                      break;
                  }
                }
              });
            }
          });
        }
      </script>
    </div>
  </div>




  <%- include('../partials/file-end') %>