<%- include('../partials/header', {title}); %>
<%- include('../partials/scripts'); %>
<script src="/assets/js/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
</head>

<body class="">
  <%- include('../partials/navbar', {active}); %>
  <div class="main-content">
    <%- include('../partials/topbar', {title}) %>
    <%- include('partials/header-bar') %>
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-body">
              <form method="POST" action="">
                <h2>Základní informace</h2>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <input type="text" name="name" placeholder="Název roku" class="form-control border-1" required>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <div class="form-group">
                      <input type="text" name="description" placeholder="Popisek roku" class="form-control border-1">
                    </div>
                  </div>
                </div>
                <h2>Rezervace</h2>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="input-group">
                        <input type="datetime-local" name="reservationsStart" placeholder="Začátek"
                          class="form-control datepicker" required>
                        <div class="input-group-append">
                          <span class="input-group-text">Začátek</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="input-group">
                        <input type="datetime-local" name="reservationsEnd" placeholder="Konec"
                          class="form-control border-1">
                        <div class="input-group-append">
                          <span class="input-group-text">Konec</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <button class="btn btn-icon btn-primary" type="submit">
                      <span class="btn-inner--text">Vytvořit</span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <%- include('../partials/footer') %>
      <!-- Optional JS -->
    </div>
  </div>
  </div>




  <%- include('../partials/file-end') %>