<%- include('./partials/header', {title}); %>
<%- include('./partials/scripts'); %>
</head>

<body>
	<%- include('./partials/navbar', {active}); %>
	<div class="main-content">
		<%- include('./partials/topbar', {title, active}) %>
		<!-- Header -->
		<!-- <div class="header bg-gradient-default pb-8 pt-5 pt-md-8"> -->
		<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
			style="min-height: 450px; background-image: url(/images/background.jpg); background-size: cover; background-position: center;">
			<!-- style="min-height: 450px; background-image: url(//images.unsplash.com/photo-1482908754791-d709695a0c87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80); background-size: cover; background-position: center;"> -->
			<!-- style="min-height: 450px; background-image: url(//images.unsplash.com/photo-1500148620689-33c1f7ef01d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80); background-size: cover; background-position: center;"> -->
			<!-- style="min-height: 450px; background-image: url(//images.unsplash.com/photo-1456428746267-a1756408f782?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80); background-size: cover; background-position: center;"> -->
			<!-- Mask -->
			<span class="mask bg-gradient-default opacity-7"></span>
			<div class="container-fluid">
				<div class="header-body">
					<div class="row">
						<div class="col-lg-7 col-md-10">
							<h1 class="display-2 text-white">Ahoj&nbsp;<%= osloveni(req.session.user.name.first) %>!</h1>
							<p class="text-white">Vítej zpět na přehledu.</p>
						</div>
					</div>
					<!-- Card stats -->
					<div class="row">
						<div class="col-xl-3 col-lg-6">
							<div class="card card-stats mb-4 mb-xl-0">
								<div class="card-body">
									<div class="row">
										<div class="col">
											<h5 class="card-title text-uppercase text-muted mb-0">Počet studentů v tomto roce</h5>
											<span class="h2 font-weight-bold mb-0"><%= countOfStudents %></span>
										</div>
										<div class="col-auto">
											<div class="icon icon-shape bg-primary text-white rounded-circle shadow">
												<i class="fas fa-user"></i>
											</div>
										</div>
									</div>
									<!-- <p class="mt-3 mb-0 text-muted text-sm">
										<span class="text-success mr-2"><i class="fa fa-arrow-up"></i> x %</span>
										<span class="text-nowrap">Oproti minulému roku</span>
									</p> -->
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-6">
							<div class="card card-stats mb-4 mb-xl-0">
								<div class="card-body">
									<div class="row">
										<div class="col">
											<h5 class="card-title text-uppercase text-muted mb-0">Počet potvrzených studentů
											</h5>
											<span class="h2 font-weight-bold mb-0"><%= countOfConfirmedStudents %><span style="font-size: 75%;"> / <%= countOfStudents %></span></span>
										</div>
										<div class="col-auto">
											<div class="icon icon-shape bg-success text-white rounded-circle shadow"><i
													class="fas fa-check"></i>
											</div>
										</div>
									</div>
									<!-- <p class="mt-3 mb-0 text-muted text-sm">
										<span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
										<span class="text-nowrap">Since last week</span>
									</p> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid mt--7">
			<div class="row">
				<div class="col">
					<div class="card shadow border-0">
						<div class="card-body">
							<div class="card-text">
								<p>Random text</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<%- include('partials/footer') %>
		</div>
	</div>




	<%- include('partials/file-end') %>