<%- include('./partials/header', {title}); %>
<%- include('./partials/scripts'); %>
<script src="/assets/js/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
</head>

<body>
    <%- include('./partials/navbar', {active}); %>
    <div class="main-content">
        <%- include('./partials/topbar', {title, active}) %>
        <!-- Header -->
        <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
            style="min-height: 400px; background-image: url(//images.unsplash.com/photo-1501327050484-9d45384e1d20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80); background-size: cover; background-position: center;">
            <!-- Mask -->
            <span class="mask bg-gradient-default opacity-7"></span>
            <!-- Header container -->
            <div class="container-fluid d-flex align-items-center">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="display-2 text-white">Ahoj&nbsp;<%= osloveni(req.session.user.name.first) %>,</h1>
                        <% if (req.session.user._id == user._id) {
                            headingText = 'Toto je stránka s tvým profilem.';
                        } else {
                            headingText = 'Toto je stránka s profilem jiného uživatele.';
                        } %>
                        <p class="text-white"><%= headingText %></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page content -->
        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-4 xl-12 mb-12 mb-xl-0">
                    <div class="card card-profile shadow">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image">
                                    <a href="#">
                                        <img src="<%= user.photoUrl %>" class="rounded-circle">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                            <!-- <div class="d-flex justify-content-between">
                                <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
                                <a href="#" class="btn btn-sm btn-default float-right">Message</a>
                            </div> -->
                        </div>
                        <div class="card-body pt-0 pt-md-4">
                            <div class="row">
                                <div class="col">
                                    <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                        <div>
                                            <span class="heading"><%= user.years.length %></span>
                                            <span class="description">Počet ročníků</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <h3>
                                    <%= user.name.first %> <%= user.name.last %>
                                </h3>
                                <div class="h5 font-weight-300">
                                    <%= user.description ? user.description : 'Tvůj popisek je prázdný' %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 order-xl-1">
                    <form action="profile/edit" method="POST">
                        <div class="card bg-secondary shadow">
                            <div class="card-header bg-white border-0">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h3 class="mb-0">Editace profilu</h3>
                                    </div>
                                    <div class="col-4 text-right">
                                        <button type="submit" class="btn btn-sm btn-primary">Editovat</button>
                                    </div>
                                    <!-- <div class="col-4 text-right">
                                    <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                                </div> -->
                                </div>
                            </div>
                            <div class="card-body">
                                <h6 class="heading-small text-muted mb-4">Základní informace</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-username">
                                                    Uživatelské jméno</label>
                                                <input type="text" id="input-username" name="username"
                                                    class="form-control form-control-alternative"
                                                    placeholder="voprsalek.franta" value="<%= user.username %>">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-email">Email</label>
                                                <input type="email" id="input-email" name="email"
                                                    class="form-control form-control-alternative"
                                                    placeholder="voprsalek.franta@gmail.com" value="<%= user.email %>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-first-name">Křestní
                                                    jméno</label>
                                                <input type="text" id="input-first-name" name="firstname"
                                                    class="form-control form-control-alternative" placeholder="Franta"
                                                    value="<%= user.name.first %>">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-last-name">Příjmení</label>
                                                <input type="text" id="input-last-name" name="lastname"
                                                    class="form-control form-control-alternative"
                                                    placeholder="Vopršálek" value="<%= user.name.last %>">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-4" />
                                <!-- Description -->
                                <h6 class="heading-small text-muted mb-4">Něco navíc</h6>
                                <div class="pl-lg-4">
                                    <div class="form-group">
                                        <label>O mě</label>
                                        <textarea rows="4" class="form-control form-control-alternative"
                                            placeholder="Super řidič, jezdím bez nehod jako o závod ..."><%= user.description %></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <%- include('./partials/footer') %>
            <!-- Optional JS -->
        </div>
    </div>




    <%- include('./partials/file-end') %>