<footer class="mastfoot mt-auto">
    <div class="inner">
        <p>Copyright &copy; 2018 - 2019
            <a href="mailto:lukynmatuska@gmail.com" target="_blank">Lukáš&nbsp;Matuška</a>
            & <a href="//sspbrno.cz" target="_blank">SPŠ Brno Purkyňova 97, příspěvková organizace</a>
        </p>
    </div>
</footer>