<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title == '' ? 'Purkiáda' : `${title} - Purkiáda` %></title>
    <meta name="keywords"
        content="<%= title != '' ? `${title}, ` : '' %>Purkiáda">
    
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
    <!-- Custom styles for this template -->
    <link href="/css/cover.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">