<header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand">Purkiáda</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link <%= active == 'home' ? 'active' : '' %>" href="/">Domů</a>
            <!-- <a class="nav-link <%= active == 'reservation' ? 'active' : '' %>" href="/reservation">Rezervace</a> -->
            <a class="nav-link <%= active == 'application' ? 'active' : '' %>" href="/application">Přihláška</a>
            <!-- <a class="nav-link <%= active == 'feedback' ? 'active' : '' %>" href="/feedback">Zpětná vazba</a> -->
            <!-- <a class="nav-link <%= active == 'poster' ? 'active' : '' %>" href="/poster">Plakát</a> -->
        </nav>
    </div>
</header>