= `Dobrý den,\n\nzde je potvrzení Vaší rezervace:\n
            ID: ${reservation._id}
            Křestní jméno: ${reservation.name.first}
            Příjmení: ${reservation.name.last}
            Email: ${reservation.email}
            Počet dětí: ${reservation.count.kids}
            Počet dospělých: ${reservation.count.adults}\n\n\nPokud budete spokojení s průběhem mikulášského odpoledne, zanechte nám prosím zpětnou vazbu zde: https://mikulas.rudickamladez.cz/feedback\n\nS přáním hezkého dne,\nPořadatelé mikulášského odpoledne v Rudici`