<% active = 'application' %>
<% title = 'Přihláška' %>
<%- include('./partials/header', {req, res, title}) %>
<%- include('./partials/file-start', {req, res}) %>
<%- include('./partials/menu', {req, res}) %>
<main role="main" class="inner cover">
    <h1 class="cover-heading"><%= title %></h1>
    <p class="lead">Pro vytvoření rezervace vyplňte následující formulář</p>
    <% if (req.query.err) {%>
    <div class="alert alert-danger" role="alert">
        <% switch (req.query['err']) {
        case 'this-is-not-email' : %>
        Do pole pro email jste asi zadal(a) nějaký nesmysl, zkuste to znova.
        <% break;
                    } %>
    </div>
    <%}%>
    <% if (req.query.status) {%>
    <div class="alert alert-success" role="alert">
        <% switch (req.query.status) {
                    case 'ok' : %>
        Vaše rezervace proběhla úspešně!
        <% break;
                    } %>
    </div>
    <%}%>
    <form method="POST" action="/applications/new">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="firstname">Křestní jméno</label>
                <input type="text" class="form-control" name="firstname" id="firstname" placeholder="Křestní jméno"
                    required <%= req.query.firstname ? `value=${req.query.firstname}` : '' %>>
    </div>
    <div class="form-group col-md-6">
        <label for="lastname">Příjmení</label>
        <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Příjmení" required
            <%= req.query.lastname ? `value=${req.query.lastname}` : '' %>>
    </div>
    </div>
    <div class="form-group">
        <label for="email">Vaš email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Váš email" required
            <%= req.query.email ? `value=${req.query.email}` : '' %>>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-secondary">Odeslat</button>
    </div>
    <div class="form-group">
        <p style="text-align: center; font-size:  95%; border: 0; padding: 0;">
            V případě problémů nás kontaktujte na emailu
            <a href="mailto:purkiada@sspbrno.cz">purkiada@sspbrno.cz</a>
        </p>
    </div>
    <div class="form-group">
        <p style="text-align: center; font-size:  85%; border: 0; padding: 0;">
            Odeslání formuláře může chvíli trvat. Údaje poskytnuté v&nbsp;rámci rezervace budou použity
            jen pro&nbsp;účely této akce.
        </p>
    </div>
    </form>
</main>
<%- include('./partials/footer', {req, res}) %>
<%- include('./partials/file-end', {req, res}) %>