<% active = 'feedback' %>
<% title = 'Zpětná vazba' %>
<%- include('./partials/header', {req, res, title}) %>
<%- include('./partials/file-start', {req, res}) %>
<%- include('./partials/menu', {req, res}) %>
<main role="main" class="inner cover">
    <h1 class="cover-heading"><%= title %></h1>
    <p class="lead">Pro vytvoření zpětné vazby vyplňte následující formulář</p>
    <% if (req.query['err-feedback']) {%>
    <div class="alert alert-danger" role="alert">
        <% switch (req.query['err-feedback']) {
        case 'this-is-not-email' : %>
        Do pole pro email jste asi zadal(a) nějaký nesmysl, zkuste to znova.
        <% break;
                    } %>
    </div>
    <%} if (req.query['status-feedback']) {%>
    <div class="alert alert-success" role="alert">
        <% switch (req.query['status-feedback']) {
            case 'ok' : %>
        Vaše zpětná vazba se odeslala úspešně!
        <% break;
                    } %>
    </div>
    <%}%>
    <form method="POST" action="/feedbacks/new">
        <div class="form-group">
            <label for="email">Vaš email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Váš email" <%= req.session.email ? `value=${req.session.email}` : '' %>>
    </div>
    <div class="form-group">
        <label for="feedback-textarea">Zpětná vazba</label>
        <textarea class="form-control" id="feedback-textarea" rows="3" name="text"
            placeholder="Zde se můžete rozepsat"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-secondary">Odeslat</button>
    </div>
    <div class="form-group">
        <p style="text-align: center; font-size:  95%; border: 0; padding: 0;">
            V případě problémů nás kontaktujte na emailu
            <a href="mailto:purkiada@sspbrno.cz">purkiada@sspbrno.cz</a>
        </p>
    </div>
    <div class="form-group">
        <p style="text-align: center; font-size:  85%; border: 0; padding: 0;">
            Odeslání formuláře může chvíli trvat. Údaje poskytnuté v&nbsp;rámci rezervace budou použity
            jen pro&nbsp;účely této akce.
        </p>
    </div>
    </form>
</main>
<%- include('./partials/footer', {req, res}) %>
<%- include('./partials/file-end', {req, res}) %>