<% active = 'home' %>
<%- include('./partials/header', {req, res, title: ''}) %>
<%- include('./partials/file-start', {req, res}) %>
<%- include('./partials/menu', {req, res}) %>
<main role="main" class="inner cover">
    <h1 class="cover-heading">Purkiáda</h1>
    <p class="lead">Na takové soutěži jste ještě nebyli.</p>
    <p class="lead">
        <a href="/reservation" class="btn btn-lg btn-secondary">Rezervace</a>
    </p>
</main>
<%- include('./partials/footer', {req, res}) %>
<%- include('./partials/file-end', {req, res}) %>