<%- include('./partials/header', {req, res, title: ''}) %>
<%- include('./partials/file-start', {req, res}) %>
<%- include('./partials/menu', {req, res}) %>
<main role="main" class="inner cover">
    <h1 class="cover-heading">Plakát</h1>
    <!-- <p class="lead">Zarezervujte si svoje lístky ještě dnes.</p> -->
    <img src="/images/posters/<%= moment(req.session.year.reservations.end).format('YYYY') %>.jpg" alt="Plakát" style="max-height: 75vh; max-width: 100%;">
</main>
<%- include('./partials/footer', {req, res}) %>
<%- include('./partials/file-end', {req, res}) %>