<%- include('../partials/header', {title}); %>
<%- include('../partials/scripts'); %>
<script src="/admin/assets/js/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
</head>

<body>
  <%- include('../partials/navbar', {active}); %>
  <div class="main-content">
    <%- include('../partials/topbar', {title}) %>
    <%- include('partials/header-bar') %>
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-sm-12 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="/images/users/_default.png" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between ">
                <!-- <a href="#" class="btn btn-sm btn-default float-right">text</a> -->
                <span></span>
                <a href="/admin/emails/write?recipient=<%= student.email %>" class="btn btn-sm btn-default mr-4 float-right">Napsat email</a>
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading"><%= student.year.name %></span>
                      <span class="description">Ročník</span>
                    </div>
                    <div>
                      <span class="heading"><%- student.confirm ? `<span class="badge badge-success">Ano</span>` : `<span class="badge badge-danger">Ne</span>` %></span>
                      <span class="description">Potvrzení</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <div class="mt-4">
                  <i class="fas fa-user"></i> Jméno Příjmení
                </div>
                <h3>
                  <%= student.name.first %> <%= student.name.last %>
                </h3>
                <div class="h5 mt-4">
                  <i class="fas fa-envelope"></i> Email
                </div>
                <div>
                  <%= student.email %>
                </div>
                <div class="h5 mt-4">
                  <i class="fas fa-school"></i> Škola
                </div>
                <div>
                  <%= student.school.name %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('../partials/footer') %>
      <!-- Optional JS -->
    </div>
  </div>
  </div>




  <%- include('../partials/file-end') %>