<%- include('../partials/header', {title}); %>
<%- include('../partials/scripts'); %>
<script src="/assets/js/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
</head>

<body>
  <%- include('../partials/navbar', {active}); %>
  <div class="main-content">
    <%- include('../partials/topbar', {title}) %>
    <%- include('partials/header-bar') %>
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header">
              <h3 class="mb-0"><%= title %></h3>
            </div>
            <div class="card-body">
              <form method="POST" action="/admin/students/edit">
                <input type="hidden" name="id" value="<%= student._id %>">
                <h2>Základní informace</h2>
                <div class="row">
                  <div class="col-sm-12 col-lg-6">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Křestní jméno</span>
                        </div>
                        <input type="text" name="firstname" min="1" class="form-control border-1" required
                          placeholder="Pepa" value="<%= student.name.first %>">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Příjmení</span>
                        </div>
                        <input type="text" name="lastname" class="form-control border-1" required placeholder="Motorkář"
                          value="<%= student.name.last %>">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-lg-6">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Emailová adresa</span>
                        </div>
                        <input type="email" name="email" class="form-control border-1" required
                          placeholder="motorkar.pepa@lukasmatuska.cz" value="<%= student.email %>">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Popisek</span>
                        </div>
                        <input type="text" name="description" class="form-control border-1"
                          placeholder="Např. pro babičku" value="<%= student.description %>">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2 col-lg-6">
                    <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                      <input class="custom-control-input" id="sendEmail" type="checkbox" name="sendEmail" checked>
                      <label class="custom-control-label" for="sendEmail">Poslat email o změně</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <button class="btn btn-icon btn-primary" type="submit">
                      <span class="btn-inner--text">Změnit</span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <%- include('../partials/footer') %>
      <!-- Optional JS -->
    </div>
  </div>
  </div>




  <%- include('../partials/file-end') %>