<%- include('../partials/header', {title}); %>
<!-- Datatables styles -->
<link rel="stylesheet" href="/admin/assets/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/admin/assets/vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">
<link rel="stylesheet" href="/admin/assets/vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css">
<%- include('../partials/scripts'); %>
</head>

<body class="">
  <%- include('../partials/navbar', {active}); %>
  <div class="main-content">
    <%- include('../partials/topbar', {title}) %>
    <%- include('partials/header-bar') %>
    <div class="container-fluid mt--7">
      <%
      if (req.query.status) {
        switch (req.query.status) {
        case 'new-ok':
          bg = `success`;
          text = {
            bold: 'Gratuluji!',
            normal: 'Student(ka) byla úspěšně vytvořen(a).',
          }; 
          break;
      
        case 'edit-ok':
          bg = `success`;
          text = {
            bold: 'Gratuluji!',
            normal: 'Student(ka) byl(a) úspěšně upraven(a)!',
          }; 
          break;

        default:
          bg = `default`;
          text = {
            bold: 'Heleme se!',
            normal: ' Uživatel si hraje s URL!',
          };
          break;
      }
      %>
      <div class="alert alert-<%= bg %>" role="alert">
        <strong><%= text.bold %></strong> <%= text.normal %>
      </div>
      <% } %>
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0"><%= title %></h3>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <div>
                  <table class="table align-items-center" id="studentsTable">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Křestní jméno</th>
                        <th scope="col">Příjmení</th>
                        <th scope="col">Emailová aderesa</th>
                        <th scope="col" class="text-center">Potvrzení</th>
                        <th scope="col">Vytvořeno dne</th>
                        <th scope="col">Škola</th>
                        <th scope="col">Akce</th>
                      </tr>
                    </thead>
                    <!-- <tbody class="list">
                    </tbody> -->
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('../partials/footer') %>
      <!-- Optional JS -->
      <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
      <script src="/admin/assets/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
      <script src="/admin/assets/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
      <script src="/admin/assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
      <script src="/admin/assets/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
      <script src="/admin/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
      <script src="/admin/assets/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
      <script src="/admin/assets/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
      <script src="/admin/assets/vendor/datatables.net-select/js/dataTables.select.min.js"></script>

      <div class="col-md-4">
        <!--<button type="button" class="btn btn-block btn-default " id="toggle-modal-change-status" style="display: none; "
          data-toggle="modal" data-target="#modal-change-status">Form</button>-->
        <div class="modal fade" id="modal-change-status" tabindex="-1" role="dialog"
          aria-labelledby="modal-change-status" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-body p-0">
                <div class="card bg-secondary shadow border-0">
                  <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                      <h1>Změna stavu studenta</h1>
                      <p>Vyber nový stav studenta</p>
                    </div>
                    <form role="form" method="POST" id="modal-change-status-form">
                      <input type="hidden" name="id">
                      <div class="custom-control custom-radio mb-3">
                        <input name="studentStatus" value="confirm" class="custom-control-input" id="confirmRadio"
                          type="radio">
                        <label class="custom-control-label" for="confirmRadio">Potvrzeno</label>
                      </div>
                      <div class="custom-control custom-radio mb-3">
                        <input name="studentStatus" value="cancel" class="custom-control-input" id="cancelRadio"
                          type="radio">
                        <label class="custom-control-label" for="cancelRadio">Nepotvrzeno</label>
                      </div>
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary my-4">Změnit</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
        $(document).ready(function () {
          $('#studentsTable').DataTable({
            //select: true,
            order: [[3, "asc"]],
            language: {
              url: "/js/dataTables/myCzech.json",
            },
            resposive: true,
            pageLength: 50,
            ajax: {
              url: '/api/student/list',
              dataSrc: "",
            },
            columns: [{
              data: 'name.first',
            }, {
              data: 'name.last',
            }, {
              data: 'email',
            }, {
              targets: -1,
              data: null,
              mRender: function (data, type, row) {
                return row['confirm'] ? `<span class="badge badge-success">Ano</span>` : `<span class="badge badge-danger m-auto">Ne</span>`;
              }
              // {
              // data: 'confirm',
            }, {
              data: 'date',
            }, {
              data: 'school.name',
            }, {
              targets: -1,
              data: null,
              mRender: function (data, type, row) {
                return `<div class="row" style="justify-content: space-between; /*min-width: 80px;*/"><a href="/admin/students/detail?id=${row['_id']}"><i class="fas fa-eye"></i></a><a href="/admin/students/edit/?id=${row['_id']}"><i class="fas fa-pen"></i></a><button type="button" onclick="changeStudentStatusById('${row['_id']}', '${row['confirm'] ? 'confirm' : 'cancel'}');" style="background: none; border: none; padding: 0; "><i class="fas fa-sync-alt text-green"></i></button><button onclick="deleteStudentById('${row['_id']}');" style="background: none; border: none; padding: 0; "><i class="fas fa-trash" style="color: red; "></i></button><a href="/admin/emails/write?recipient=${row['email']}" alt="Poslat email studentovi"><i class="fas fa-envelope" style="color: grey; "></i></a></div>`;
              }
              //defaultContent: `<button>button!</button>`
            }],
          });
        });

        function changeStudentStatusById(id, status) {
          $(`form#modal-change-status-form`).children('input[name=\'id\']').attr('value', id);
          statuses = ['confirm', 'cancel'];
          for (let i = 0; i < statuses.length; i++) {
            if (status === statuses[i]) {
              $(`input#${status}Radio`).attr('disabled', true);
              //$(`input#${status}Radio`).attr('type', 'hidden');
            } else {
              $(`input#${statuses[i]}Radio`).attr('disabled', null);
            }
          }
          // console.log(`${status}Radio`);
          // $(`${status}Radio`).prop('checked', false);
          // $('#toggle-modal-change-status').click();
          $('#modal-change-status').modal();
          $('#modal-change-status-form').submit(function (e) {
            e.preventDefault(); // avoid to execute the actual submit of the form.
            $.ajax({
              type: 'POST',
              url: '/admin/students/change-status/',
              data: $(this).serialize(), // serializes the form's elements.
              success: function (response) {
                //console.log(response); // show response from the server
                switch (response) {
                  case 'ok':
                    swal({
                      title: 'Student(ka) byl(a) upraven(a)!',
                      text: 'Srdečně blahopřeji.',
                      icon: 'success',
                    }).then((value) => {
                      location.reload();
                    });
                    break;

                  case 'not-sent-id':
                    swal({
                      title: 'Chyba!',
                      text: 'Neposlal jsi na server ID rezervace, u které chceš změnit stav.',
                      icon: 'success',
                    }).then((value) => {
                      location.reload();
                    });
                    break;

                  default:
                    swal({
                      title: 'Něco se pokazilo!',
                      text: `Ozvi se správci, server říká: ${response}"`,
                      icon: 'error',
                    });
                    break;
                }
              }
            });


          });
        }

        function deleteStudentById(id) {
          swal({
            title: 'Opravdu chceš smazat tohoto studenta / tuto studentku?',
            text: 'Radši si to dvakrát rozmysli',
            icon: 'warning',
            timer: 5000,
            dangerMode: true,
            buttons: {
              cancel: "Neee, byl to omyl",
              confirm: 'Smazat!',
            },
          }).then((confirm) => {
            if (confirm) {
              $.post({
                url: `/admin/students/delete`,
                data: {
                  id,
                },
                success: function (response) {
                  console.log(response);
                  switch (response) {
                    case 'ok':
                      swal({
                        title: 'Student(ka) byla smazán(a)!',
                        text: 'Už ho (ji) nikdy neuvidíme.',
                        icon: 'success',
                        timer: 5000,
                      }).then((value) => {
                        //window.location.href = '/admin/dashboard/';
                        location.reload();
                      });
                      break;

                    case 'not-sent-id':
                      swal({
                        title: 'Student(ka) se nesmazal(a)!',
                        text: 'Nastala chyba, protože jsi neposlal na server ID student(ky), kterou(kterého) chceš smazat.',
                        icon: 'error',
                      });
                      break;

                    default:
                      swal({
                        title: 'Něco se pokazilo!',
                        text: `Ozvi se Lukynovi, server říká: ${response}"`,
                        icon: 'error',
                      });
                      break;
                  }
                }
              });
            }
          });
        }

        function sendMailById(id) {
          swal({
            title: 'Opravdu chceš poslat email znovu?',
            text: 'Radši si to dvakrát rozmysli, aby se příjemce nenaštval',
            icon: 'warning',
            timer: 5000,
            buttons: {
              cancel: "Neee, byl to omyl",
              confirm: 'Pošli to!',
            },
          }).then((confirm) => {
            if (confirm) {
              $.post({
                url: `/admin/reservations/send-email/`,
                data: {
                  id,
                },
                success: function (response) {
                  console.log(response);
                  switch (response) {
                    case 'ok':
                      swal({
                        title: 'Rezervace byla znovu odeslána emailem!',
                        text: 'Snad to tentokrát zákazník nestratí.',
                        icon: 'success',
                        timer: 5000,
                      }).then((value) => {
                        //window.location.href = '/admin/dashboard/';
                        //location.reload();
                      });
                      break;

                    case 'not-sent-id':
                      swal({
                        title: 'Email se neodeslal!',
                        text: 'Nastala chyba, protože jsi neposlal na server ID rezervace, kterou chceš smazat.',
                        icon: 'error',
                      });
                      break;

                    default:
                      swal({
                        title: 'Něco se pokazilo!',
                        text: `Ozvi se Lukynovi, server říká: ${response}"`,
                        icon: 'error',
                      });
                      break;
                  }
                }
              });
            }
          });
        }
      </script>
    </div>
  </div>




  <%- include('../partials/file-end') %>