@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
    .cover-heading {
        padding-top: 25px;
    }
}

html, body {
    min-height: 100%;
    background-color: #7f0000;
    background-color: green;
    scroll-behavior: smooth;
}

*:focus {
    outline: 0;
}

.my-bg {
    /* background: rgb(255, 102, 102) !important;  */
    background: url('//scontent-prg1-1.xx.fbcdn.net/v/t1.15752-9/72187151_538963230230140_8508544656798121984_n.jpg?_nc_cat=103&_nc_oc=AQlErzqsSgoFBdk6dGsvrG8T9HAvK8Yq0UX42xQPOkOM0ODORc8ZfUhrzRCfOXPX7g4&_nc_ht=scontent-prg1-1.xx&oh=e80a093e9370ee1cc4651f4a253012dc&oe=5E5EE3D5');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}