</head>

<!-- <body style="min-height: 100%; display: flex; flex-direction: column;"> -->
<body class="bg-default" style="min-height: 100%; display: flex; flex-direction: column;">
    <div class="main-content" style="flex-grow: 1; display: flex; flex-direction: column;">