<footer class="py-5">
    <div class="container">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6">
                <div class="copyright text-center text-xl-left text-muted">
                    © 2019 <a href="//lukasmatuska.cz" class="font-weight-bold ml-1" target="_blank">Lukáš Matuška</a>
                </div>
            </div>
            <div class="col-xl-6">
                <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                    <li class="nav-item">
                        <a href="//rudickamladez.cz" class="nav-link" target="_blank"><i class="fas fa-globe"></i> Naše stránky</a>
                    </li>
                    <li class="nav-item">
                        <a href="//facebook.com/rudicka.mladez/" class="nav-link" target="_blank"><i class="fab fa-facebook-square"></i>&nbsp;Facebook</a>
                    </li>
                    <li class="nav-item">
                        <a href="//pohles.rudickamladez.cz" class="nav-link" target="_blank"><i class="fas fa-tree"></i> Pohádkový les</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>