<!DOCTYPE html>
<html lang="cs" style="height: 100%; ">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Lukáš Matuška">

  <title><%= title %> | Purkiáda</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.ico">
  <!-- <link href="/admin/assets/img/brand/favicon.png" rel="icon" type="image/png"> -->
  <!-- Fonts -->
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <!-- <link href="/admin/assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" /> -->
  <link href="/admin/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="/admin/assets/css/argon-dashboard.min.css?v=1.1.0" rel="stylesheet" />

  <!--   Core   -->
  <script src="/admin/assets/js/plugins/jquery/dist/jquery.min.js"></script>
  <script src="/admin/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!--   Argon JS   -->
  <script src="/admin/assets/js/argon-dashboard.min.js?v=1.1.0"></script>

  <!-- Custom fonts for this template-- >
  <link href="/css/fa-all.min.css" rel="stylesheet" type="text/css">
  <!-- Favicon -- >
  <link href="/assets/img/brand/favicon.png" rel="icon" type="image/png">
  <!-- Fonts -- >
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -- >
  <link href="/assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
  <!--<link href="/assets/js/plugins/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />-->
  <!-- CSS Files -- >
  <link href="/assets/css/argon.min.css?v=1.1.0" rel="stylesheet" /> -->