<%- include('../partials/header', {title}); %>
<%- include('../partials/scripts'); %>
</head>

<body>
  <%- include('../partials/navbar', {active}); %>
  <div class="main-content" style="display: flex; flex-direction: column;">
    <%- include('../partials/topbar', {title, active}) %>
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
      style="min-height: 90vh; background-image: url(//images.unsplash.com/photo-1510133768164-a8f7e4d4e3dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80); background-size: cover; background-position: center;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-7"></span>
      <div class="container-fluid">
        <div class="header-body">
          <div class="row">
            <div class="col-lg-7 col-md-10">
              <h1 class="display-2 text-white"><%= title %></h1>
              <p class="text-white">Hledáte soubor, který se tu nenachází, přeji Vám příjmenou hru na schovávanou.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <%- include('../partials/footer') %>
    </div>
  </div>
  <%- include('../partials/file-end') %>