<%- include('../partials/header', {title}); %>
<%- include('../partials/scripts'); %>
</head>

<body class="">
  <%- include('../partials/navbar', {active}); %>
  <div class="main-content">
    <%- include('../partials/topbar', {title}) %>
    <%- include('partials/header-bar') %>
    <div class="container-fluid mt--7">
      <%
      if (req.query.status) {
        switch (req.query.status) {
        case 'email-sent':
          bg = `success`;
          text = {
            bold: 'Gratuluji!',
            normal: 'Email se úspěšně odeslal!',
          }; 
          break;

        default:
          bg = `default`;
          text = {
            bold: 'Heleme se!',
            normal: ' Uživatel si hraje s URL!',
          };
          break;
      }
      %>
      <div class="alert alert-<%= bg %>" role="alert">
        <strong><%= text.bold %></strong> <%= text.normal %>
      </div>
      <% } %>
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-body">
              <form method="POST" action="">
                <h2>Email</h2>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Adresa příjemce</span>
                        </div>
                        <input type="text" name="recipient" placeholder="matuska.lukas@lukasmatuska.cz"
                          class="form-control border-1" required
                          <%= req.query.recipient != undefined ? `value=${req.query.recipient}` : ''; %>>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Předmět</span>
                        </div>
                        <input type="text" name="subject" placeholder="Pozdrav z Purkiády"
                          class="form-control border-1"
                          <%= req.query.subject != undefined ? `value=${req.query.subject}` : ''; %>>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <textarea class="form-control " rows="3" name="text"
                        placeholder="Ahoj Franto, stav se na panáka ..."></textarea>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <button class="btn btn-icon btn-primary" type="submit">
                      <span class="btn-inner--text">Odeslat</span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <%- include('../partials/footer') %>
      <!-- Optional JS -->
    </div>
  </div>
  </div>




  <%- include('../partials/file-end') %>