<% title = 'Zapomenuté heslo' %>
<%- include('partials/header', {req, res, title}); %>
<!-- SHARING -->
<!-- <meta property="og:image" content="https://images.unsplash.com/photo-1533893979679-909d29ed5de3" /> -->
<%- include('partials/file-start', {req, res, title}); %>
<%- include('partials/topbar', {req, res}); %>
<!-- Header -->
<div class="header bg-gradient-primary py-7 py-lg-8">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <h1 class="text-white">Oh ne! Ty jsi zapomněl svoje heslo?</h1>
                    <p class="text-lead text-light">Tak zde si můžeš nechat zaslat svoje přihlašovací údaje na
                        dříve zaregistrovaný email.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="//www.w3.org/2000/svg">
            <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5" style="flex-grow: 1; ">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <% if (req.query.status) {
                switch (req.query.status) {
                    case 'new-ok':
                    bg = `success`;
                    text = {
                        bold: 'Gratuluji!',
                        normal: 'Rezervace byla úspěšně vytvořena.',
                    }; 
                    break;
                
                    case 'not-existing-username-or-email':
                    bg = `danger`;
                    text = {
                        bold: 'Fuuha!',
                        normal: 'Zadané údaje neodpovídájí žádnému účtu.',
                    }; 
                    break;

                    default:
                    bg = `default`;
                    text = {
                        bold: 'Heleme se!',
                        normal: ' Uživatel si hraje s URL!',
                    };
                    break;
                } %>
            <div class="alert alert-<%= bg %>" role="alert">
                <strong><%= text.bold %></strong> <%= text.normal %>
            </div>
            <% } %>
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <form role="form" action="/admin/forgot-password" method="POST" id="forgot-password-form">
                        <div class="form-group mb-3">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                                <input class="form-control" placeholder="Email" type="email" name="email">
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary my-4">Zkusím štěstí</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <a href="/admin/forgot-password" class="text-light"><small>Zapomenuté heslo?</small></a>
                </div>
                <div class="col-6 text-right">
                    <a href="/admin/login" class="text-light"><small>Už mám účet a chci se přihlásit</small></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-forgot-password-status" tabindex="-1" role="dialog"
    aria-labelledby="modal-forgot-password-status" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card shadow border-0">
                    <div class="card-body">
                        <div class="text-center text-muted mb-4" id="modal-forgot-password-status-text">
                            <h1></h1>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<script>
    // this is the id of the form
    $("#forgot-password-form").submit(function (e) {
        e.preventDefault(); // avoid to execute the actual submit of the form.

        var form = $(this);

        $.ajax({
            type: form.attr('method'),
            url: form.attr('action'),
            data: form.serialize(), // serializes the form's elements.
            success: function (response) {
                console.log(response); // show response from the php script.
                switch (response) {
                    case 'user-not-exist':
                        var text = {
                            h1: 'Jejda!',
                            p: 'Účet s těmito údajemi neextistuje.',
                        };
                        var redirect = {
                            url: '/admin/register',
                            time: 7500,
                        };
                        // $('#modal-forgot-password-status').children('div').addClass('modal-danger modal-');
                        // $('#modal-forgot-password-status').children('div').children('div').addClass('bg-gradient-danger');
                        break;

                    case 'ok':
                        var text = {
                            h1: 'Gratuluji!',
                            p: 'Vaše nové heslo Vám bylo úspěšně posláno na Váš email.',
                        };
                        var redirect = {
                            url: `/admin/login`,
                            time: 6000,
                        };
                        break;

                    case 'register-ok':
                        var text = {
                            h1: 'Gratuluji!',
                            p: 'Váš účet byl úspěšně vytvořen, ale nemáte na nic právo.',
                        };
                        break;

                    default:
                        break;
                }
                $('#modal-forgot-password-status-text').children('h1').text(text.h1);
                $('#modal-forgot-password-status-text').children('p').text(text.p);
                $('#modal-forgot-password-status').modal();
                setTimeout(function () {
                    window.location.href = redirect.url;
                }, redirect.time);
            }
        });
    });
</script>
<%- include('partials/footer', {req, res}); %>
<%- include('partials/file-end', {req, res}); %>