<% title = 'Přihlášení' %>
<%- include('partials/header', {req, res, title}); %>
<!-- SHARING -->
<!-- <meta property="og:image" content="https://images.unsplash.com/photo-1533893979679-909d29ed5de3" /> -->
<%- include('partials/file-start', {req, res, title}); %>
<%- include('partials/topbar', {req, res}); %>
<!-- Header -->
<div class="header bg-gradient-primary py-7 py-lg-8">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <h1 class="text-white">Vítejte!</h1>
                    <p class="text-lead text-light">Zde se můžete přihlásit do administrace, pokud Vám tam byl udělen
                        přístup a znáte svoje přihlašovací údaje</p>
                </div>
            </div>
        </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
            xmlns="//www.w3.org/2000/svg">
            <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5" style="flex-grow: 1; ">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <form role="form" action="/admin/login" method="POST" id="login-form">
                        <div class="form-group mb-3">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input class="form-control" placeholder="Uživatelské jméno" name="username" type="text" <%= req.query.username ? `value=${req.query.username}` : `` %>>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input class="form-control" placeholder="Heslo" type="password" name="password">
                            </div>
                        </div>
                        <!-- <div class="custom-control custom-control-alternative custom-checkbox">
                            <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                            <label class="custom-control-label" for=" customCheckLogin">
                                <span class="text-muted">Remember me</span>
                            </label>
                        </div> -->
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary my-4">Přihlásit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <a href="/admin/forgot-password" class="text-light"><small>Zapomenuté heslo?</small></a>
                </div>
                <div class="col-6 text-right">
                    <a href="/admin/register" class="text-light"><small>Vytvořit nový účet</small></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-waiting" tabindex="-1" role="dialog"
    aria-labelledby="modal-waiting" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card shadow border-0">
                    <div class="card-body">
                        <div class="text-center text-muted mb-4">
                            <img src="/images/LoadingBasketContents.gif" alt="Waiting GIF">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-login-status" tabindex="-1" role="dialog"
    aria-labelledby="modal-login-status" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card shadow border-0">
                    <div class="card-body">
                        <div class="text-center text-muted mb-4" id="modal-login-status-text">
                            <h1></h1>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="modal-login-status-footer">
                <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<script>
    // this is the id of the form
    $("#login-form").submit(function (e) {
        $('#modal-waiting').modal();
        e.preventDefault(); // avoid to execute the actual submit of the form.

        var form = $(this);

        $.ajax({
            type: form.attr('method'),
            url: form.attr('action'),
            data: form.serialize(), // serializes the form's elements.
            success: function (response) {
                //console.log(response); // show response from the server
                switch (response) {
                    case 'null-years':
                        var text = {
                            h1: 'Jejda!',
                            p: 'Účet s tímto uživatelským jménem nemá žádné roky, tudíž nemá, co editovat v administraci.',
                        };
                        var redirect = {
                            enabled: false,
                        };
                        // $('#modal-login-status').children('div').addClass('modal-danger modal-');
                        // $('#modal-login-status').children('div').children('div').addClass('bg-gradient-danger');
                        break;

                    case 'bad-username':
                        var text = {
                            h1: 'Jejda!',
                            p: 'Účet s tímto uživatelským jménem neextistuje.',
                        };
                        var redirect = {
                            enabled: false,
                        };
                        // $('#modal-login-status').children('div').addClass('modal-danger modal-');
                        // $('#modal-login-status').children('div').children('div').addClass('bg-gradient-danger');
                        break;

                    case 'bad-password':
                        var text = {
                            h1: 'Jejda!',
                            p: 'Účet s tímto uživatelským jménem má jiné heslo, než jste zadal(a).',
                        };
                        var redirect = {
                            enabled: false,
                        };
                        // $('#modal-login-status').children('div').addClass('modal-danger modal-');
                        // $('#modal-login-status').children('div').children('div').addClass('bg-gradient-danger');
                        break;

                    case 'ok-admin':
                        var text = {
                            h1: 'Úspěšně jste se přihlásil(a).',
                            p: 'Gratuluji! Nyní Vás přesměruji do naší administrace.',
                        };
                        var redirect = {
                            enabled: true,
                            url: `/admin/dashboard`,
                            time: 3000,
                        };
                        break;

                    case 'ok':
                        var text = {
                            h1: 'Úspěšně jste se přihlásil(a).',
                            p: 'Gratuluji!',
                        };
                        var redirect = {
                            enabled: true,
                            url: `/`,
                            time: 5000,
                        };
                        break;

                    default:
                        var redirect = {
                            enabled: true,
                            url: `/admin/dashboard`,
                            time: 0,
                        };
                        break;
                }
                $('#modal-login-status-text').children('h1').text(text.h1);
                $('#modal-login-status-text').children('p').text(text.p);
                $('#modal-waiting').modal('toggle');
                $('#modal-login-status').modal();
                if (redirect.enabled) {
                    setTimeout(function () {
                        window.location.href = redirect.url;
                    }, redirect.time);
                }
            }
        });
    });
</script>
<%- include('partials/footer', {req, res}); %>
<%- include('partials/file-end', {req, res}); %>