<% title = 'Registrace' %>
<%- include('partials/header', {req, res, title}); %>
<!-- SHARING -->
<!-- <meta property="og:image" content="https://images.unsplash.com/photo-1533893979679-909d29ed5de3" /> -->
<%- include('partials/file-start', {req, res, title}); %>
<%- include('partials/topbar', {req, res}); %>
<!-- Header -->
<div class="header bg-gradient-primary py-7 py-lg-8">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <h1 class="text-white">Registrace</h1>
                    <p class="text-lead text-light">Zde si můžeš vytvořit účet, ale dokud ti ho jiný správce neschválí,
                        tak ti bude k ničemu.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5" style="flex-grow: 1; ">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <form role="form" action="/admin/register" method="POST" id="registration-form">
                        <div class="form-group mb-3">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                                </div>
                                <input class="form-control" placeholder="Křestní jméno" name="firstname" type="text"
                                    required>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                                </div>
                                <input class="form-control" placeholder="Příjmení" name="lastname" type="text" required>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                                <input class="form-control" placeholder="Email" type="email" name="email" required>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input class="form-control" placeholder="Uživatelské jméno" name="username" type="text"
                                    required id="username">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input class="form-control" placeholder="Heslo" type="password" name="password"
                                    required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input class="form-control" placeholder="Heslo znova" type="password"
                                    name="passwordRepeat" required>
                            </div>
                        </div>
                        <!-- <div class="custom-control custom-control-alternative custom-checkbox">
                            <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                            <label class="custom-control-label" for=" customCheckLogin">
                                <span class="text-muted">Remember me</span>
                            </label>
                        </div> -->
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary my-4">Zaregistrovat</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <a href="/admin/registration" class="text-light"><small>Zapomenuté heslo?</small></a>
                </div>
                <div class="col-6 text-right">
                    <a href="/login" class="text-light"><small>Už mám účet a chci se přihlásit</small></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-waiting" tabindex="-1" role="dialog"
    aria-labelledby="modal-waiting" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card shadow border-0">
                    <div class="card-body">
                        <div class="text-center text-muted mb-4">
                            <img src="/images/LoadingBasketContents.gif" alt="Waiting GIF">
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Ok</button>
            </div> -->
        </div>
    </div>
</div>
<div class="modal fade" id="modal-registration-status" tabindex="-1" role="dialog"
    aria-labelledby="modal-registration-status" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card shadow border-0">
                    <div class="card-body">
                        <div class="text-center text-muted mb-4" id="modal-registration-status-text">
                            <h1></h1>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<script>
    // this is the id of the form
    $("#registration-form").submit(function (e) {
        $('#modal-waiting').modal();
        e.preventDefault(); // avoid to execute the actual submit of the form.

        var form = $(this);

        $.ajax({
            type: form.attr('method'),
            url: form.attr('action'),
            data: form.serialize(), // serializes the form's elements.
            success: function (response) {
                //console.log(response); // show response from the server
                switch (response) {
                    case 'username-exist':
                        var text = {
                            h1: 'Jejda!',
                            p: 'Účet s tímto uživatelským jménem již extistuje.',
                        };
                        var redirect = {
                            enabled: false,
                            url: '/admin/register',
                            time: 7500,
                        };
                        // $('#modal-registration-status').children('div').addClass('modal-danger modal-');
                        // $('#modal-registration-status').children('div').children('div').addClass('bg-gradient-danger');
                        break;

                    case 'email-exist':
                        var text = {
                            h1: 'Jejda!',
                            p: 'Účet s tímto emailem již extistuje.',
                        };
                        var redirect = {
                            enabled: false,
                            url: '/admin/register',
                            time: 7500,
                        };
                        // $('#modal-registration-status').children('div').addClass('modal-danger modal-');
                        // $('#modal-registration-status').children('div').children('div').addClass('bg-gradient-danger');
                        break;

                    case 'ok':
                        var text = {
                            h1: 'Gratuluji!',
                            p: 'Váš účet byl úspěšně vytvořen, ale nemáte na nic právo.',
                        };
                        var redirect = {
                            enabled: true,
                            url: `/admin/login?username=${$('#username').val()}`,
                            time: 6000,
                        };
                        break;

                    default:
                        break;
                }
                $('#modal-registration-status-text').children('h1').text(text.h1);
                $('#modal-registration-status-text').children('p').text(text.p);
                $('#modal-waiting').modal('toggle');
                $('#modal-registration-status').modal();
                if (redirect.enabled) {
                    setTimeout(function () {
                        window.location.href = redirect.url;
                    }, redirect.time);
                }
            }
        });
    });
</script>
<%- include('partials/footer', {req, res}); %>
<%- include('partials/file-end', {req, res}); %>