<%- include('../partials/header', {title: 'Nový uživatel'}); %>
<!-- Datatables styles -->
<link rel="stylesheet" href="/assets/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/assets/vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">
<link rel="stylesheet" href="/assets/vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css">
<%- include('../partials/scripts'); %>
</head>

<body class="">
  <%- include('../partials/navbar', {active: 'users'}); %>
  <div class="main-content">
    <%- include('../partials/topbar', {title: 'Nový uživatel'}) %>
    <%- include('partials/header-bar') %>
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Nový uživatel</h3>
            </div>
            <div class="card-body">
              <form method="POST" action="/admin/users/new" id="registration-form">
                <h4>Obecně</h4>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" name="firstname" placeholder="Křestní jméno" class="form-control border-1"
                        required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" name="lastname" placeholder="Příjmení" class="form-control border-1 small"
                        required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <input type="text" name="username" placeholder="Uživatelské jméno"
                        class="form-control border-1 small" required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="password" name="password" placeholder="Heslo" class="form-control border-1 small"
                        required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="password" name="passwordRepeat" placeholder="Heslo znovu"
                        class="form-control border-1 small" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <input type="email" name="email" placeholder="Email" class="form-control border-1 small" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <input type="text" name="profilePhotoUrl" placeholder="URL profilové fotky"
                        class="form-control border-1 small" required value="/images/users/_default.jpg">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <input type="text" name="description" placeholder="Popisek ... např. pro tetku"
                        class="form-control border-1 small">
                    </div>
                  </div>
                </div>
                <br>
                <h3>Práva</h3>
                <h4>Kategorie</h4>
                <div class="row">
                  <% CONFIG.permissions.forEach((permission) => { %>
                  <div class="col-sm-2">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" name="<%= permission %>"
                        id="<%= permission %>Checkbox">
                      <label class="custom-control-label" for="<%= permission %>Checkbox">
                        <%= permission %>
                      </label>
                    </div>
                  </div>
                  <% }); %>
                </div>
                <br>
                <h4>Ročníky</h4>
                <div class="row">
                  <% //years = [{name: 2019, _id: 0, }]; %>
                  <% years.forEach((year) => { %>
                  <div class="col-sm-2">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" name="years[]" id="<%= year._id %>Checkbox"
                        value="<%= year._id %>">
                      <label class="custom-control-label" for="<%= year._id %>Checkbox">
                        <%= year.name %>
                      </label>
                    </div>
                  </div>
                  <% }); %>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                    <button class="btn btn-icon btn-primary" type="submit">
                      <span class="btn-inner--text">Vytvořit</span>
                    </button>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %>
    <!-- Optional JS -->
    <script>
      $(document).ready(function () {
        $('#myTable').DataTable();
      });
    </script>
    <div class="modal fade" id="modal-waiting" tabindex="-1" role="dialog" aria-labelledby="modal-waiting"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="card shadow border-0">
              <div class="card-body">
                <div class="text-center text-muted mb-4">
                  <img src="/images/LoadingBasketContents.gif" alt="Waiting GIF">
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="modal-footer">
                <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Ok</button>
            </div> -->
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-registration-status" tabindex="-1" role="dialog"
      aria-labelledby="modal-registration-status" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="card shadow border-0">
              <div class="card-body">
                <div class="text-center text-muted mb-4" id="modal-registration-status-text">
                  <h1></h1>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      // this is the id of the form
      $("#registration-form").submit(function (e) {
        $('#modal-waiting').modal();
        e.preventDefault(); // avoid to execute the actual submit of the form.

        var form = $(this);

        $.ajax({
          type: form.attr('method'),
          url: form.attr('action'),
          data: form.serialize(), // serializes the form's elements.
          success: function (response) {
            //console.log(response); // show response from the server
            switch (response) {
              case 'username-exist':
                var text = {
                  h1: 'Jejda!',
                  p: 'Účet s tímto uživatelským jménem již extistuje.',
                };
                var redirect = {
                  enabled: false,
                  url: '/admin/register',
                  time: 7500,
                };
                // $('#modal-registration-status').children('div').addClass('modal-danger modal-');
                // $('#modal-registration-status').children('div').children('div').addClass('bg-gradient-danger');
                break;

              case 'email-exist':
                var text = {
                  h1: 'Jejda!',
                  p: 'Účet s tímto emailem již extistuje.',
                };
                var redirect = {
                  enabled: false,
                  url: '/admin/register',
                  time: 7500,
                };
                // $('#modal-registration-status').children('div').addClass('modal-danger modal-');
                // $('#modal-registration-status').children('div').children('div').addClass('bg-gradient-danger');
                break;

              case 'ok':
                var text = {
                  h1: 'Gratuluji!',
                  p: 'Účet byl úspěšně vytvořen.',
                };
                var redirect = {
                  enabled: true,
                  url: `/admin/users/list`,
                  time: 6000,
                };
                break;

              default:
                break;
            }
            $('#modal-registration-status-text').children('h1').text(text.h1);
            $('#modal-registration-status-text').children('p').text(text.p);
            $('#modal-waiting').modal('toggle');
            $('#modal-registration-status').modal();
            if (redirect.enabled) {
              setTimeout(function () {
                window.location.href = redirect.url;
              }, redirect.time);
            }
          }
        });
      });
    </script>
  </div>
  </div>




  <%- include('../partials/file-end') %>