<%- include('../partials/header', {title}); %>
<!-- Datatables styles -->
<!-- <link rel="stylesheet" href="/assets/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/assets/vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">
<link rel="stylesheet" href="/assets/vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css"> -->
<%- include('../partials/scripts'); %>
</head>

<body class="">
  <%- include('../partials/navbar', {active: 'feedbacks'}); %>
  <div class="main-content">
    <%- include('../partials/topbar', {title}) %>
    <%- include('partials/header-bar') %>
    <div class="container-fluid mt--7">
      <%
      if (req.query.status) {
        switch (req.query.status) {
        case 'edit-ok':
          bg = `success`;
          text = {
            bold: 'Gratuluji!',
            normal: 'Zpětná vazba byla úspěšně upravena!',
          }; 
          break;

        default:
          bg = `default`;
          text = {
            bold: 'Heleme se!',
            normal: ' Uživatel si hraje s URL!',
          };
          break;
      }
      %>
      <div class="alert alert-<%= bg %>" role="alert">
        <strong><%= text.bold %></strong> <%= text.normal %>
      </div>
      <% } %>
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0"><%= title %></h3>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <div>
                  <table class="table align-items-center" id="feedbacksTable">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Text</th>
                        <th scope="col">Emailová aderesa</th>
                        <th scope="col" class="text-center">Stav</th>
                        <th scope="col">Popisek</th>
                        <th scope="col">Vytvořeno dne</th>
                        <th scope="col">Vytvořil</th>
                        <th scope="col">Akce</th>
                      </tr>
                    </thead>
                    <tbody class="list">
                      <% feedbacks.forEach((feedback) => { %>
                      <tr>
                        <td><%= feedback.text %></td>
                        <td><%= feedback.email %></td>
                        <td class="text-center">
                          <% switch (feedback.status) {
                          case 'read': %>
                          <span class="badge badge-warning">
                            Přečteno
                          </span>
                          <% break;

                            case 'unread':%>
                          <span class="badge badge-danger">
                            Nepřečtené
                          </span>
                          <% break;

                            case 'done':%>
                          <span class="badge badge-success">
                            Hotovo
                          </span>
                          <% break;

                            default:%>
                          <%break;
                          } %></td>
                        </span>
                        <td><%= feedback.description %></td>
                        <td><%= moment(feedback.date).format('DD. MM. YYYY HH:mm:ss') %></td>
                        <td>
                          <%= feedback.author == null ? 'Formulář' : `${feedback.author.name.first} ${feedback.author.name.last}`  %>
                        </td>
                        <td>
                          <div class="row" style="justify-content: space-between; /*min-width: 80px;*/">
                            <a href="/admin/email/write?recipient=<%= feedback.email %>&subject=Odpověď&nbsp;na&nbsp;Vaši&nbsp;zpětnou&nbsp;vazbu 💬" style="background: none; border: none; padding: 0; ">
															<i class="fas fa-envelope" style="color: grey; "></i>
														</a>
                            <button onclick="deleteFeedbackById('<%= feedback._id %>');"
                              style="background: none; border: none; padding: 0; ">
                              <i class="fas fa-trash" style="color: red; "></i>
                            </button>
                          </div>
                        </td>
                      </tr>
                      <%}); %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('../partials/footer') %>
      <!-- Optional JS -->
      <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
      <!--<script src="/assets/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
      <script src="/assets/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
      <script src="/assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
      <script src="/assets/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
      <script src="/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
      <script src="/assets/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
      <script src="/assets/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
      <script src="/assets/vendor/datatables.net-select/js/dataTables.select.min.js"></script>-->
      <script>
        $(document).ready(function () {
          $('#feedbacksTable').DataTable();
        });

        function deleteFeedbackById(id) {
          swal({
            title: 'Smazat zpětnou vazbu?',
            text: 'Radši si to dvakrát rozmysli',
            icon: 'warning',
            timer: 5000,
            dangerMode: true,
            buttons: {
              cancel: "Neee, byl to omyl",
              confirm: 'Smazat!',
            },
          }).then((confirm) => {
            if (confirm) {
              $.post({
                url: `/admin/feedbacks/delete`,
                data: {
                  id,
                },
                success: function (response) {
                  console.log(response);
                  switch (response) {
                    case 'ok':
                      swal({
                        title: 'Zpětná vazba byla smazána!',
                        text: 'Už ji nikdy neuvidíme.',
                        icon: 'success',
                        timer: 5000,
                      }).then((value) => {
                        //window.location.href = '/admin/dashboard/';
                        location.reload();
                      });
                      break;

                    case 'not-sent-id':
                      swal({
                        title: 'Zpětná vazba se nesmazala!',
                        text: 'Nastala chyba, protože jsi neposlal na server ID zpětné vazby, kterou chceš smazat.',
                        icon: 'error',
                      });
                      break;

                    default:
                      swal({
                        title: 'Něco se pokazilo!',
                        text: `Ozvi se Lukynovi, server říká: ${response}"`,
                        icon: 'error',
                      });
                      break;
                  }
                }
              });
            }
          });
        }
      </script>
    </div>
  </div>




  <%- include('../partials/file-end') %>