<!-- Header -->
<!-- <div class="header bg-gradient-default pb-8 pt-5 pt-md-8"> -->
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="min-height: 350px; background-image: url(//images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80); background-size: cover; background-position: center;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-7"></span>
    <div class="container-fluid">
        <div class="header-body">
            <a class="btn btn-icon btn-primary <%= req.originalUrl.split('/')[req.originalUrl.split('/').length-1].includes('list') ? 'active' : '' %>" href="/admin/users/list">
                <span class="btn-inner--text">Seznam</span>
                <span class="btn-inner--icon"><i class="fas fa-list"></i></span>
            </a>
            <a class="btn btn-icon btn-primary <%= req.originalUrl.split('/')[req.originalUrl.split('/').length-1].includes('new') ? 'active' : '' %>" href="/admin/users/new">
                <span class="btn-inner--text">Nový</span>
                <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
            </a>
        </div>
    </div>
</div>