
<footer class="footer">
	<div class="row align-items-center justify-content-xl-between">
		<div class="col-xl-6">
			<div class="copyright text-center text-xl-left text-muted">
				&copy; 2019 <a href="//lukasmatuska.cz" class="font-weight-bold ml-1" target="_blank">Lukáš Matuška</a>
			</div>
		</div>
		<!--<div class="col-xl-6">
			<ul class="nav nav-footer justify-content-center justify-content-xl-end">
				<li class="nav-item">
					<a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
				</li>
				<li class="nav-item">
					<a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
				</li>
				<li class="nav-item">
					<a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
				</li>
				<li class="nav-item">
					<a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md"
						class="nav-link" target="_blank">MIT License</a>
				</li>
			</ul>
		</div>-->
	</div>
</footer>