<!DOCTYPE html>
<html lang="cs">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Lukas Matuska">

  <title><%= title %> | Purkiáda administrace</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link href="/favicon.png" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="/admin/assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
  <link href="/admin/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="/admin/assets/css/argon-dashboard.css?v=1.1.0" rel="stylesheet" />
  <script src="/admin/js/sweetalert.min.js"></script>
  <style>
    *:focus {
      outline: none;
    }

    button:focus {
      border: none;
      outline: none;
    }
  </style>