<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <div class="container-fluid">
    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main"
      aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Brand -->
    <a class="navbar-brand" href="/admin">
      <!-- <img src="/assets/img/brand/blue.png" class="navbar-brand-img" alt="Logo"> -->
      <img src="/favicon.ico" alt="Logo">
      Purkiáda admin
    </a>
    <!-- User -->
    <ul class="nav align-items-center d-md-none">
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <img alt="Profile photo" src="<%= req.session.user.photoUrl %>">
            </span>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
          <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">Vítej!</h6>
          </div>
          <a href="/admin/profile" class="dropdown-item">
            <i class="ni ni-single-02"></i>
            <span>Můj profil</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="/logout" class="dropdown-item">
            <i class="ni ni-user-run"></i>
            <span>Odhlásit se</span>
          </a>
        </div>
      </li>
    </ul>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
      <!-- Collapse header -->
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a href="/">
              <!-- <img src="/assets/img/brand/blue.png"> -->
              <img src="/favicon.ico" alt="Logo">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main"
              aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <!-- Navigation -->
      <ul class="navbar-nav">
        <li class="nav-item <%= active ? (active.includes('dashboard') ? 'active' : '') : '' %>">
          <a class="nav-link" href="/admin/dashboard">
            <i class="ni ni-tv-2 text-blue"></i>
            Přehled
          </a>
        </li>
        <% if (req.session.user.permissions.includes('students') || req.session.user.permissions.includes('masterAdmin')) { %>
        <li class="nav-item <%= active ? (active.includes('students') ? 'active' : '') : '' %>">
          <a class="nav-link" href="/admin/students/list">
            <i class="fas fa-user-graduate"></i>
            Studenti
          </a>
        </li>
        <% } %>
        <% if (req.session.user.permissions.includes('feedbacks') || req.session.user.permissions.includes('masterAdmin')) { %>
        <li class="nav-item <%= active ? (active.includes('feedbacks') ? 'active' : '') : '' %>">
          <a class="nav-link" href="/admin/feedbacks/list">
            <i class="fas fa-comment"></i>
            Zpětná vazba
          </a>
        </li>
        <% } %>
        <% if (req.session.user.permissions.includes('emails') || req.session.user.permissions.includes('masterAdmin')) { %>
        <li class="nav-item <%= active ? (active.includes('emails') ? 'active' : '') : '' %>">
          <a class="nav-link" href="/admin/emails/write">
            <i class="fas fa-envelope"></i>
            Emaily
          </a>
        </li>
        <% } %>
      </ul>
      <!-- Divider -->
      <hr class="my-3">
      <!-- Heading -->
      <h6 class="navbar-heading text-muted">Sudo</h6>
      <!-- Navigation -->
      <ul class="navbar-nav mb-md-3">
        <% if (req.session.user.permissions.includes('users') || req.session.user.permissions.includes('masterAdmin')) { %>
        <li class="nav-item <%= active ? (active.includes('users') ? 'active' : '') : '' %>" ">
          <a class=" nav-link" href="/admin/users">
          <i class="fas fa-users text-blue"></i>
          Uživatelé
          </a>
        </li>
        <% } if (req.session.user.permissions.includes('years') || req.session.user.permissions.includes('masterAdmin')) { %>
        <li class="nav-item <%= active ? (active.includes('years') ? 'active' : '') : '' %>" ">
          <a class=" nav-link" href="/admin/years">
          <i class="fas fa-clock text-blue"></i>
          Ročníky
          </a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>