<!--   Core   -->
<script src="/admin/assets/js/plugins/jquery/dist/jquery.min.js"></script>
<script src="/admin/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!--   Argon JS   -->
<script src="/admin/assets/js/argon-dashboard.min.js?v=1.1.0"></script>