<%- include('../partials/header', {title}); %>
<!-- Datatables styles -->
<!-- <link rel="stylesheet" href="/assets/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/assets/vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">
<link rel="stylesheet" href="/assets/vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css"> -->
<%- include('../partials/scripts'); %>
</head>

<body class="">
  <%- include('../partials/navbar', {active: 'reservations'}); %>
  <div class="main-content">
    <%- include('../partials/topbar', {title}) %>
    <%- include('partials/header-bar') %>
    <div class="container-fluid mt--7">
      <%
      if (req.query.status) {
        switch (req.query.status) {
        case 'new-ok':
          bg = `success`;
          text = {
            bold: 'Gratuluji!',
            normal: 'Rezervace byla úspěšně vytvořena.',
          }; 
          break;
      
        case 'edit-ok':
          bg = `success`;
          text = {
            bold: 'Gratuluji!',
            normal: 'Rezervace byla úspěšně upravena!',
          }; 
          break;

        default:
          bg = `default`;
          text = {
            bold: 'Heleme se!',
            normal: ' Uživatel si hraje s URL!',
          };
          break;
      }
      %>
      <div class="alert alert-<%= bg %>" role="alert">
        <strong><%= text.bold %></strong> <%= text.normal %>
      </div>
      <% } %>
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0"><%= title %></h3>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <div>
                  <table class="table align-items-center" id="reservationsTable">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Křestní jméno</th>
                        <th scope="col">Příjmení</th>
                        <th scope="col">Emailová aderesa</th>
                        <th scope="col" class="text-center">Dětí</th>
                        <th scope="col" class="text-center">Dospělých</th>
                        <th scope="col" class="text-center">Stav</th>
                        <th scope="col">Popisek</th>
                        <th scope="col">Vytvořeno dne</th>
                        <th scope="col">Vytvořil</th>
                        <th scope="col">Akce</th>
                      </tr>
                    </thead>
                    <tbody class="list">
                      <% reservations.forEach((reservation) => { %>
                      <tr>
                        <td><%= reservation.name.first %></td>
                        <td><%= reservation.name.last %></td>
                        <td><%= reservation.email %></td>
                        <td class="text-center"><%= reservation.count.kids %></td>
                        <td class="text-center"><%= reservation.count.adults %></td>
                        <td class="text-center">
                          <% switch (reservation.status) {
                          case 'unpaid': %>
                          <span class="badge badge-warning">
                            Nezaplaceno
                          </span>
                          <% break;

                            case 'cancelled':%>
                          <span class="badge badge-danger">
                            Zrušeno
                          </span>
                          <% break;

                            case 'paid':%>
                          <span class="badge badge-success">
                            Zaplaceno
                          </span>
                          <% break;

                            default:%>
                          <%break;
                          } %></td>
                        </span>
                        <td><%= reservation.description %></td>
                        <td><%= moment(reservation.date).format('DD. MM. YYYY HH:mm:ss') %></td>
                        <td>
                          <%= reservation.author == null ? 'Formulář' : `${reservation.author.name.first} ${reservation.author.name.last}`  %>
                        </td>
                        <td>
                          <div class="row" style="justify-content: space-between; /*min-width: 80px;*/">
                            <button type="button" onclick="sendMailById('<%= reservation._id %>');"
                              style="background: none; border: none; padding: 0; ">
                              <i class="fas fa-envelope" style="color: grey; "></i>
                            </button>
                            <button type="button"
                              onclick="changeReservationStatusById('<%= reservation._id %>', '<%= reservation.status %>');"
                              style="background: none; border: none; padding: 0; ">
                              <i class="fas fa-sync-alt text-green"></i>
                            </button>
                            <a href="/admin/reservations/edit?id=<%= reservation._id %>">
                              <i class="fas fa-pen"></i></a>
                            <button onclick="deleteReservationById('<%= reservation._id %>');"
                              style="background: none; border: none; padding: 0; ">
                              <i class="fas fa-trash" style="color: red; "></i>
                            </button>
                          </div>
                        </td>
                      </tr>
                      <%}); %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('../partials/footer') %>
      <!-- Optional JS -->
      <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
      <!--<script src="/assets/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
      <script src="/assets/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
      <script src="/assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
      <script src="/assets/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
      <script src="/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
      <script src="/assets/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
      <script src="/assets/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
      <script src="/assets/vendor/datatables.net-select/js/dataTables.select.min.js"></script>-->

      <!--<script src="//cdn.jsdelivr.net/npm/sweetalert2@8"></script>-->

      <div class="col-md-4">
        <!--<button type="button" class="btn btn-block btn-default " id="toggle-modal-change-status" style="display: none; "
          data-toggle="modal" data-target="#modal-change-status">Form</button>-->
        <div class="modal fade" id="modal-change-status" tabindex="-1" role="dialog"
          aria-labelledby="modal-change-status" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-body p-0">
                <div class="card bg-secondary shadow border-0">
                  <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                      <h1>Změna stavu rezervace</h1>
                      <p>Vyber nový stav rezervace</p>
                    </div>
                    <form role="form" method="POST" id="modal-change-status-form">
                      <input type="hidden" name="id">
                      <div class="custom-control custom-radio mb-3">
                        <input name="reservationStatus" value="unpaid" class="custom-control-input" id="unpaidRadio"
                          type="radio">
                        <label class="custom-control-label" for="unpaidRadio">Nezaplaceno</label>
                      </div>
                      <div class="custom-control custom-radio mb-3">
                        <input name="reservationStatus" value="paid" class="custom-control-input" id="paidRadio"
                          type="radio">
                        <label class="custom-control-label" for="paidRadio">Zaplaceno</label>
                      </div>
                      <div class="custom-control custom-radio mb-3">
                        <input name="reservationStatus" value="cancelled" class="custom-control-input"
                          id="cancelledRadio" type="radio">
                        <label class="custom-control-label" for="cancelledRadio">Zrušeno</label>
                      </div>
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary my-4">Změnit</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
        $(document).ready(function () {
          $('#reservationsTable').DataTable();
        });

        function changeReservationStatusById(id, status) {
          $(`form#modal-change-status-form`).children('input[name=\'id\']').attr('value', id);
          statuses = ['unpaid', 'paid', 'cancelled'];
          for (let i = 0; i < statuses.length; i++) {
            if (status === statuses[i]) {
              $(`input#${status}Radio`).attr('disabled', true);
              //$(`input#${status}Radio`).attr('type', 'hidden');
            } else {
              $(`input#${statuses[i]}Radio`).attr('disabled', null);
            }
          }
          // console.log(`${status}Radio`);
          // $(`${status}Radio`).prop('checked', false);
          // $('#toggle-modal-change-status').click();
          $('#modal-change-status').modal();
          $('#modal-change-status-form').submit(function (e) {
            e.preventDefault(); // avoid to execute the actual submit of the form.
            $.ajax({
              type: "POST",
              url: '/admin/reservations/change-status/',
              data: $(this).serialize(), // serializes the form's elements.
              success: function (response) {
                console.log(response); // show response from the server
                switch (response) {
                  case 'ok':
                    swal({
                      title: 'Rezervace byla upravena!',
                      text: 'Srdečně blahopřeji.',
                      icon: 'success',
                    }).then((value) => {
                      location.reload();
                    });
                    break;

                  case 'not-sent-id':
                    swal({
                      title: 'Chyba!',
                      text: 'Neposlal jsi na server ID rezervace, u které chceš změnit stav.',
                      icon: 'success',
                    }).then((value) => {
                      location.reload();
                    });
                    break;

                  default:
                    swal({
                      title: 'Něco se pokazilo!',
                      text: `Ozvi se správci, server říká: ${response}"`,
                      icon: 'error',
                    });
                    break;
                }
              }
            });


          });
        }

        function deleteReservationById(id) {
          swal({
            title: 'Opravdu chceš smazat tuto rezervaci?',
            text: 'Radši si to dvakrát rozmysli',
            icon: 'warning',
            timer: 5000,
            dangerMode: true,
            buttons: {
              cancel: "Neee, byl to omyl",
              confirm: 'Smazat!',
            },
          }).then((confirm) => {
            if (confirm) {
              $.post({
                url: `/admin/reservations/delete`,
                data: {
                  id,
                },
                success: function (response) {
                  console.log(response);
                  switch (response) {
                    case 'ok':
                      swal({
                        title: 'Rezervace byla smazána!',
                        text: 'Už ji nikdy neuvidíme.',
                        icon: 'success',
                        timer: 5000,
                      }).then((value) => {
                        //window.location.href = '/admin/dashboard/';
                        location.reload();
                      });
                      break;

                    case 'not-sent-id':
                      swal({
                        title: 'Rezervace se nesmazala!',
                        text: 'Nastala chyba, protože jsi neposlal na server ID rezervace, kterou chceš smazat.',
                        icon: 'error',
                      });
                      break;

                    default:
                      swal({
                        title: 'Něco se pokazilo!',
                        text: `Ozvi se Lukynovi, server říká: ${response}"`,
                        icon: 'error',
                      });
                      break;
                  }
                }
              });
            }
          });
        }

        function sendMailById(id) {
          swal({
            title: 'Opravdu chceš poslat email znovu?',
            text: 'Radši si to dvakrát rozmysli, aby se příjemce nenaštval',
            icon: 'warning',
            timer: 5000,
            buttons: {
              cancel: "Neee, byl to omyl",
              confirm: 'Pošli to!',
            },
          }).then((confirm) => {
            if (confirm) {
              $.post({
                url: `/admin/reservations/send-email/`,
                data: {
                  id,
                },
                success: function (response) {
                  console.log(response);
                  switch (response) {
                    case 'ok':
                      swal({
                        title: 'Rezervace byla znovu odeslána emailem!',
                        text: 'Snad to tentokrát zákazník nestratí.',
                        icon: 'success',
                        timer: 5000,
                      }).then((value) => {
                        //window.location.href = '/admin/dashboard/';
                        //location.reload();
                      });
                      break;

                    case 'not-sent-id':
                      swal({
                        title: 'Email se neodeslal!',
                        text: 'Nastala chyba, protože jsi neposlal na server ID rezervace, kterou chceš smazat.',
                        icon: 'error',
                      });
                      break;

                    default:
                      swal({
                        title: 'Něco se pokazilo!',
                        text: `Ozvi se Lukynovi, server říká: ${response}"`,
                        icon: 'error',
                      });
                      break;
                  }
                }
              });
            }
          });
        }
      </script>
    </div>
  </div>




  <%- include('../partials/file-end') %>